html {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

/* set height of page to 100% */
#elm-code-is-loaded-here,
.app-model,
.screen-container {
  height: 100%;
}

.svg-home {
  width: 10em;
  height: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-header {
  width: 3em;
  height: 3em;
}

.calendar-header {
  width: 3em;
  height: 3em;
}


.full-screen {
  background-color: palevioletred;
  height: 90%;
}

.full-screen__text {
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  text-align: left;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  width: 70%;
}

.full-screen__button {
  width: 70%;
  padding: 0.8em;
  position: absolute;
  border: none;
  background: none;
  font-size: 1.3em;
  color: white;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: palevioletred;
  background-color: white;
}

.half-screen {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.half-screen--button {
  border: none;
  background: none;
  padding: 1em;
  font-size: 1.5em;
  color: white;
}

.half-screen--options {
  background-color: palevioletred;
}

.half-screen--monitor {
  background-color: rgb(59, 229, 195);
}

/* This code is for the nav bar */
.nav-container {
  padding: 10px 20px;
  height: 10%;
}

.nav-container__image {
  display: inline-block;
  width: 50%;
}

.nav-image {

}

.nav-tracker-button {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.nav-tracker-button__link {

}

/* This code is for the contraceptive types page */

.contra-methods-header {
  color: palevioletred;
  text-align: center;
  border: 3px solid palevioletred;
  border-right: 0;
  border-left: 0;
}


.contraceptive-tag {
  padding: 0 1em 1em 1em;
  margin: 0;
  font-style: italic;
  text-align: center;
  color: white;
}


.half-screen--non-hormonal {
  background-color: palevioletred;
}

.half-screen--hormonal {
  background-color: rgb(255, 140, 99);
}


/* This code is for the contraceptive methods page */

.contra-methods-tab-container {
  width: 100%;
}
.contra-methods-tab {
  width: 50%;
  display: inline-block;
  text-align: center;
  color: palevioletred;
  border: 3px solid palevioletred;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
