body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.svg-home {
  width: 10em;
  height: 10em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-container {
  height: 100vh;
}

.full-screen {
  background-color: palevioletred;
  height: 90%;
}

.full-screen__text {
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 1.8em;
  width: 70%;
}

.full-screen__button {
  width: 70%;
  padding: 0.8em;
  position: absolute;
  border: none;
  background: none;
  font-size: 1.3em;
  color: white;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: palevioletred;
  background-color: white;
}

.half-screen {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.half-screen--button {
  height: 30vh;
  border: none;
  background: none;
  font-size: 1.5em;
  color: white;
}

.half-screen--options {
  background-color: rgb(255, 140, 99);
}

.half-screen--monitor {
  background-color: rgb(59, 229, 195);
}

/* This code is for the nav bar */
.nav-container {
  padding: 10px 20px;
  height: 10%;
}

.nav-container__image {
  display: inline-block;
  width: 50%;
}

.nav-image {

}

.nav-tracker-button {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.nav-tracker-button__link {

}

/* This code is for the contraceptive types page */
.half-screen--non-hormonal {
  background-color: rgb(255, 140, 99);
}

.half-screen--hormonal {
  background-color: rgb(59, 229, 195);
}
